<%= render "shared/partial" %>
<h3>スケジュール編集</h3>
 
<%= form_for @task do |f| %>
<table>
  <tr>
    <th><%= f.label :title ,"タイトル" %></th>
    <td><%= f.text_field :title, size: "40x2" %></td>
  </tr>
  <tr>
    <th><%= f.label :start ,"いつから？" %></th>
    <td><%= f.date_select :start, {}, class: 'form-control' %></td>
  </tr>
  <tr>
    <th><%= f.label :finish ,"いつまで？" %></th>
    <td><%= f.date_select :finish, {}, class: 'form-control' %></td>
  </tr>
  <tr>
    <th><%= f.label :introduction ,"スケジュール内容" %></th>
    <td><%= f.text_area :introduction, size: "40x10" %></td>
  </tr>
</table>
<div>
  <ul>
    <li><%= f.submit "編集を完了する" %></li>
    <li><%= link_to "スケジュール一覧に戻る", :tasks %></li>
  </ul>
</div>
<% end %>