<!DOCTYPE html>
<html>
  <head>
    <title>Schedule2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
  <h1>スケジュール管理</h1>
  <h2>日々のタスクを記入して時間をうまく管理しよう✊</h2>
  </header>
  
  <%= yield %>

  <footer>
  <h1></h1>
  </footer>
  </body>
</html>
